@model Usuario
<link rel="stylesheet" href="~/_css/minhasPublicacoes.css">
@if (TempData["Erro"] != null) {
    <div class="container-center">
        <div class="alert alert-danger" role="alert">
            @TempData["Erro"]
            <button type="button" class="btn btn-danger btn-sm close-alert error" aria-label="Close"><i class="fa fa-xmark"></i></button>
        </div>
    </div>
}
else if (TempData["Sucesso"] != null) {
    <div class="container-center">
        <div class="alert alert-success" role="alert">
            @TempData["Sucesso"]
            <button type="button" class="btn btn-danger btn-sm close-alert sucesso" aria-label="Close"><i class="fa fa-xmark"></i></button>
        </div>
    </div>
}
<section id="sectionLobby">
    <div class="container">
        <div class="row">
            <div class="col-md-12 capa">
                <h1 class="animation">
                    Olá, @Model.Name! Logo abaixo você
                    pode
                    gerenciar suas publicações postadas no sistema!
                </h1>
            </div>
        </div>
    </div>
</section>
<section id="navArtigos">
    <div class="container linksArtigos">
        <h2 id="tituloLer">Publicações - @Model.Name</h2>
        <div class="row arti">
            @if (Model.Artigos.Any() || Model.Artigos.Count != 0) {
                foreach (var item in Model.Artigos) {
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@item.ReturnCategoria()</h5>
                                <p class="card-text">
                                    @item.SubTitulo
                                </p>
                                <div class="container-position">
                                    <a asp-action="EditArtigo" asp-controller="MinhasPublicacoes" asp-route-id="@item.Id" class="btn btn-outline-dark botoes editar"><i class="fa fa-edit"></i> Editar</a>
                                    <a asp-action="Artigo" asp-controller="LerArtigos" asp-route-id="@item.Id" class="btn btn-outline-dark botoes ler"><i class="fa fa-file"></i> Visualisar</a>
                                    <a href="#" data-toggle="modal" data-target="#dropArtigo" artigo-id="@item.Id" class="btn btn-outline-dark botoes excluir click-drop"><i class="fa fa-trash"></i> Excluir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else {
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Gambiarra Brasil</h5>
                            <p class="card-text" style="text-align: center;">
                                Desculpe, você ainda não postou nenhum documento!
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="dropArtigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-drop">
       <!--A partial View será redenrizada de maneira assíncrona neste local.-->
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="~/js/dropArtigo.js"></script>